<div class="container">
    <div class="row">
        <div class="col-md-3 no-float">Navigation</div>
        <div class="col-md-9 no-float">
      	            <div class="sp tab-pane" id="cssPsane">
                <div class="pane-label">css</div>
                <div class="inner" id="cssEdsitor"></div>
            </div>
            <div class="sp tab-pane" id="cssPane">
                <div class="pane-label">css</div>
                <div class="inner" id="cssEditor"></div>
            </div>
      	</div>
    </div>
</div>