<!DOCTYPE html>
<html lang="en">
<head>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Our css/js -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">

</head>

<div class="row">
    <div class="col-md-6">

        <ul class="nav nav-tabs" id="leftTab">
            <li><a href="#plan">Plan</a></li>
            <li class="active"><a href="#explore">Explore</a></li>
            <li><a href="#model">Model</a></li>
            <li><a href="#report">Report</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="plan">Plan here...</div>
            <div class="tab-pane active" id="explore">
                <div class="btn-group">
                  <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#" id="addTable">Action</a></li>
                    <li><a href="#" id="addTable">Another action</a></li>
                    <li><a href="#" id="addTable">Something else here</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>
        <div class="tab-pane" id="model">Model...</div>
        <div class="tab-pane" id="report">Report...</div>
    </div>

</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="rightTab">
                <li class="active"><a href="#workspace">Workspace</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#plot">Plot</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="workspace">Workspace content...</div>
                <div class="tab-pane" id="history">History...</div>
                <div class="tab-pane" id="plot">Plot...</div>
            </div>
            <div class="well">2</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">4</div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>